.action-btn {
background: @danger;
border-radius: @rad;
height: 44px;
padding-left: 7px;
padding-right: 8px;
width: 176px;

    &__link {
color: @base;
font-weight: 600;
    }

    &__phrase {
        font-size: 14px;
    }


    &__word {
        font-size: 16px;
    }
}


.footer-line,
.line {
    width: 100%;
    border: @mark-border;
}





