.action-btn {
background: @danger;
border-radius: @rad;
height: 44px;
padding-left: 7px;
padding-right: 8px;
padding-top: 13px;
width: 176px;

    &__link {
color: @base;
font-weight: 600;
font-size: 14px;
padding-bottom: 1em;

    }
}


.footer-line,
.line {
    width: 100%;
    border: @mark-border;
}





