.action-btn {
  background: #FF0510;
  border-radius: 5px;
  height: 44px;
}
.action-btn:active {
  background: #E21018;
  color: #FFFFFF;
}
.action-btn:hover {
  background: #FFFFFF;
  border: 1px solid #FF0510;
  color: #FF0510;
}
.action-btn:focus {
  background: #FFFFFF;
  border: 1px solid #E21018;
  color: #E21018;
}
.action-btn__link {
  color: #FFFFFF;
  font-weight: 600;
}
.action-btn__link-phrase {
  font-size: 14px;
  padding: 0 18px;
}
.action-btn__link-word {
  font-size: 16px;
  padding: 0 44px;
}
.footer-line,
.line {
  width: 100%;
  border: 1px solid rgba(70, 148, 209, 0.2);
}
.header {
  font-family: 'Montserrat', sans-serif;
  color: #686868;
  font-size: 0.875em;
}
.top {
  background: #F2F3F7;
}
.top-nav__item {
  display: flex;
}
.top-nav__items-place:before {
  content: url(images/icons/ui/point.svg);
  margin-right: 4px;
  vertical-align: middle;
}
.top-nav__items-arrow:after {
  content: url(images/icons/ui/arrow_bt.svg
            );
  margin-left: 2px;
  display: inline-block;
  vertical-align: middle;
}
.top-nav__items:hover {
  color: #1355A0;
}
.second {
  background: #FAFAFA;
  border-bottom: 1px solid rgba(70, 148, 209, 0.2);
}
.navigation__items {
  margin-right: 17%;
}
.navigation__txt {
  color: #1355A0;
}
.navigation__txt p {
  margin-bottom: 0!important;
}
.navigation__item:hover {
  color: #1355A0;
}
.navigation__item-placehold::-webkit-input-placeholder,
.navigation__item-placehold::-moz-placeholder,
.navigation__item-placehold:-moz-placeholder,
.navigation__item-placehold:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.3s ease;
}
.navigation__item-placehol:hover {
  color: #1355A0;
}
.navigation__item-placehold:focus::-webkit-input-placeholder,
.navigation__item-placehold::-moz-placeholder,
.navigation__item-placehold:-moz-placeholder,
.navigation__item-placehold:-ms-input-placeholder {
  text-indent: 500px;
  transition: text-indent 0.3s ease;
}
ul.arrow li:before {
  content: '';
  position: absolute;
  top: 1px;
  right: inherit;
  bottom: inherit;
  left: 0;
  width: 24px;
  height: 16px;
  background-image: url(images/icons/ui/arrow_right.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.delivery__title,
.delivery__record {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  color: #1355A0;
}
.delivery__title {
  font-size: 36px;
}
.delivery__record {
  font-size: 30px;
}
.delivery__info {
  font-family: 'Montserrat', sans-serif;
  color: #363636;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.marketing-card-bg {
  background-color: #F3F8FD;
}
.marketing-card__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #1D6CB4;
}
.marketing-card__title-normal {
  font-size: 20px;
}
.marketing-card__title-medium {
  font-size: 24px;
}
.marketing-card__title-max {
  font-size: 36px;
}
.marketing-card__items {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #363636;
}
.marketing-card__items-sm {
  font-size: 14px;
  line-height: 17px;
}
.marketing-card__items-md {
  font-size: 16px;
}
.marketing-card-aria {
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  width: 347px;
}
.marketing-card-aria:active {
  border: 1px solid #FAFAFA;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.07);
}
.marketing-card-aria:hover {
  border: 1px solid #FAFAFA;
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
}
.marketing-card-sm {
  height: 134px;
  border: 1px solid rgba(70, 148, 209, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.marketing-card-lg {
  height: 158px;
  border: 1px solid rgba(70, 148, 209, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.marketing-card-xl {
  height: 400px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.07);
}
.marketing-card-ill {
  width: 100%;
}
.customers {
  background: #F3F8FD;
}
.customers__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #1D6CB4;
}
.customer-card {
  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  border-radius: 5px;
  background: #FFFFFF;
}
.customer-card__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #1D6CB4;
}
.customer-card__info {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  margin-left: 62px;
}
.customer-card__info-check::before {
  content: url(images/icons/ui/check_mark.svg);
  position: absolute;
  left: 40px;
}
.product-bg {
  background: #F3F8FD;
}
.product__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1D6CB4;
}
.product__info {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
}
.include__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1D6CB4;
}
.include__title-lg {
  font-size: 24px;
}
.include__title-sm::before {
  content: url(images/icons/ui/check_mark.svg);
  margin-right: 3px;
}
.include__title-sm {
  font-size: 20px;
}
.include__info {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  padding-left: 28px;
}
.acc__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  color: #4694D1;
}
.acc-card {
  background: #FFFFFF;
  position: relative;
  display: -ms-flexbox;
}
.acc-card__header {
  background-color: #FFFFFF;
  border: 1px solid rgba(70, 148, 209, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.acc-card__header:active,
.acc-card__header:focus {
  border: 1px solid rgba(70, 148, 209, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.acc-card__header:active .acc-card__title:after,
.acc-card__header:focus .acc-card__title:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.acc-card__header:hover {
  border: 1px solid rgba(70, 148, 209, 0.2);
  box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.1);
}
.acc-card__header:hover .acc-card__title {
  color: #4694D1;
}
.acc-card__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #363636;
}
.acc-card__title:after {
  content: url(images/icons/ui/arrow_right.svg);
  position: absolute;
  right: 7%;
  left: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.acc-card__item {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  letter-spacing: 0.01em;
  line-height: 1.8em;
  color: #363636;
}
.footer {
  background-color: #EFEFEF;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
.footer__title {
  font-weight: 600;
  font-size: 14px;
}
.footer__item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  display: block;
}
.footer__item-link {
  font-weight: 500;
}
.footer__title:hover,
.footer__item:hover {
  color: #1355A0 !important;
}
.footer__icon {
  cursor: pointer;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
button {
  border: none;
}
ul[class],
li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
input {
  border-radius: 0;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
input,
textarea {
  outline: none;
}
input:focus,
textarea:focus {
  outline: none;
}
.main-container {
  max-width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  min-width: 330px;
  width: auto;
}
.navbar {
  padding: 0 !important;
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .delivery__info {
    font-size: 14px;
  }
  .customer-card__title {
    font-size: 20px;
  }
  .acc-card__title {
    font-size: 18px;
  }
  .include__info {
    padding-left: 0;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) and (max-width: 460px) {
  .acc-card__title {
    font-size: 16px;
  }
}
